{
	"arrowParens": "always",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all"
}
